basex/data/.logs/*

# oXygen project file
*.xpr

# local basex directory (for mirror application)
# ignore everything
basex/*
# except the local application
!basex/webapp
!basex/repo
# Ignoring data directory as well (in the trunk)
# Remove this line when you have databases to load
!basex/data
